<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="com.thxy.tygl.mapper.CommentMapper">
    <!--根据客户编码获取客户信息
    id:select元素在映射文件中的唯一标识
    parameterType:传入参数的类型
    resultType:返回结果的类型
-->
    <select id="getAllCommentForPage"  parameterType="int" resultType="com.thxy.tygl.entity.Comment">
        select * from comment where active=1 and circle_id=#{circleId} order by create_time desc   limit #{currPage},#{pageSize}
    </select>
    <select id="getCountComment" resultType="int">
        select count(*) from comment where active=1
    </select>
    <select id="findCommentByParam" parameterType="Map" resultType="com.thxy.tygl.entity.Comment">
        select * from comment where user_id=#{param.userId} and active=1  limit #{param.currPage},#{param.pageSize}



    </select>

    <select id="countFindComment" parameterType="int" resultType="int">
        select count(1) from  comment where user_id=#{userId} and active=1


    </select>
    <update id="delCommentByCommentId" parameterType="int">
        update  comment set active=0 where comment_id=#{commentId}
    </update>
</mapper>